.white{
    color: white;
}
ul {
    list-style-type: none;
  
}
.listItem{
    background-color: #fdf0d1;
    color: black;
    border-radius:10px;
    align-items: center;
    padding: 2%;
}
.center-div{
    margin-right:6%;
    text-align: end;
}
.space{
    padding: 2%;
    justify-content: space-evenly;
}
.container{
    padding: 2%;
}

.mainToast .toast-header {
    background-color: #fdf0d1; /* Change the background color of the toast header */
    color: black; /* Change the text color of the toast header */
}
      
.mainToast .toast-body {
    background-color: #fdf0d1; /* Change the background color of the toast body */
    color: black; /* Change the text color of the toast body */
}

